.dash-container{
        width: 93%;
        margin: auto;
    margin-top: -135px !important;
}
.dash-header{
    height: 350px;
    background-color: #2f88fc;
}
.custom-navbar{
    padding: 30px 80px;
}
.custom-navbar .navbar-toggler{
    outline: none;
}
.custom-navbar .form-inline{
    width: 400px;
    position: relative;
}
.custom-navbar .form-inline .form-control{
    height: unset;
    padding: 12px 50px 12px 12px;
}
.logo{
    width: 100px;
    height: 100px;
    background-color: wheat;
}
.drop-log>a{
    color: #ffffff !important;
}
.notification a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.icon-search{
    position: absolute;
    right: 15px;
    color: #e0e0e0;
    font-size: 20px;
}

.improve-notf{
    background-color: #0061de;
    color: #ffffff;
    border-radius: 8px;
    padding: 35px 30px 30px 35px;
}
.course-offered{
    border-radius: 8px;
    width: 218px;
    margin-right: 14px;
}
.icon-clr{
    color: #2f88fc
}
.course-info p , .course-info span{
    color: #909090;
    font-weight: 500;
}
.course-info span{
    font-size: 14px;
    
}
.course-info a , .sell{
    color: #2f88fc;
    display: block;
}
.course-info a:hover , .sell:hover{
    text-decoration: unset;
}
.course-img img{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}
.improve-notf button{
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 6px;
}
.now{
    background-color: #ffffff;
    color: #0061de;
    border: 1px solid #fff;
}
.now:hover{
    color: #0061de;
}
.later{
    background-color: #0061de;
    color: #ffffff;
    border:1px solid #ffffff;
}
.later:hover{
    color: #ffffff;
}

.dp{
    border: 3px solid #f3a954;
    height: 110px;
    width: 110px;
}
.dp img{
    object-fit: cover;
}
.name-info h4{
    color: #535353;
}
.name-info div:nth-child(3){
    color: #a7a7a7;
}
.profile-stength small{
    font-weight: 700!important;
}
.name-info div:nth-child(2) , .profile-stength small:nth-child(1) {
    color: rgba(83, 83, 83, 0.5803921568627451);
    font-weight: 500;
}
.profile-stength{
    display: flex;
    justify-content: space-between;
}
.profile-stength small:nth-child(2) , .update{
    color: #3088fb;
}
.update-butn{
    background-color: #ffffff;
    color: #3088fb;
    border: 2px solid #3088fb;
}
.no{
    color: #3088fb;
    font-weight: 700;
    font-size: 22px;
}
.pro-info{
    color: #535353;
    font-weight: 700;
    margin-left: 10px;
}
.custom-progres{
    background-color: #f3a954;
}
.update{
    border-bottom: 1px solid #ddd;
}
.update-list li{
    font-weight: 500;
}
.custom-carousel .carousel-item-next,  .carousel-item-prev, .carousel-item.active{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.custom-carousel .carousel-inner .carousel-item .card .card-body{
    padding: 15px;
}
.custom-carousel .card{
    margin: 0px 40px;
    margin-bottom: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: none;
    border-radius: 8px;
}
.custom-carousel .carousel-control-prev-icon , .custom-carousel .carousel-control-next-icon{
    background-image: none;
}

.custom-carousel .pn-icons{
    background-color: #f0f7ff;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-carousel .pn-icons .fa{
    color: #0061de;
}
.custom-carousel .card-img-top{
    border-radius: 8px 8px 0px 0px;
}
.webinar-info{
    width: 48%;
    display: inline-block;
}
.webinar-info small{
    font-weight: 700;
    display: block;
}
.webinar-info small:nth-child(1){
    color: rgba(83, 83, 83, 0.5803921568627451);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .custom-pill .nav-item{
    flex: 1;
    text-align: center;
    
  }
  .custom-pill .nav-item a{
    color: #a7a7a7;
    font-size: 18px;
    white-space: nowrap;
  }
   .nav-pills .nav-link.active,  .nav-pills .show>.nav-link{
      background-color: #f3a954;
      color: #fff;
      border-radius: 0;
  }
  @media screen and (max-width: 1200px){
      .improve-notf{
          flex-direction: column;
      }
      .improve-notf div:nth-child(2){
          justify-content: space-between;
      }
    }
  @media screen and (max-width: 1130px) and (min-width: 768px) {
    .dp-setting{
        flex-direction: column;
    }
    .dp-setting div:nth-child(1){
        margin: 0px !important;
    }
    .name-info{
        text-align: center;
    }
    .custom-carousel .card{
        margin: 0px 30px;
    }
    .webinar-info{
        width: 100%;
    }
  }
  .dropdown-menu .dropdown-item{
      font-weight: 500;
      color: gray;
  }
  @media only screen and (max-width: 991px) {
    .collapse-custom{
        background-color: White;
        z-index: 9;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid rgba(85, 85, 85, 0.27);
        border-top: none;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .collapse-custom .form-inline{
        margin: auto;
        padding-top: 15px;
    }
    .collapse-custom .navbar-nav{
        text-align: center;
    }
    .drop-log>a{
        color: gray!important;
        font-weight: 500;
        justify-content: center;
    }
   
  }
  @media only screen and (max-width: 600px) {
    .collapse-custom .form-inline{
       width: unset;
       padding: 20px;
    }
    .icon-search{
        right: 32px;
    }
  }
  @media only screen and (max-width: 540px) {
    .custom-navbar{
        padding: 30px 30px;
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) and (orientation : portrait)   {
       body { 
           -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
               transform: rotate(-90deg);
             }
         }