/* login css starts */
.login-container{
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebeeef
}
.login-content{
    width: 670px;
    background: #fff;
    border-radius: 10px;
}
.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px 74px;
    border-radius: 10px 10px 0px 0px;
}
.login-header h2{
    background-color: rgba(255, 255, 255, 0.23);
}
.login-form{
    padding: 40px 100px;
}
.login-form .form-control{
    border:  none;
    border-bottom: 1px solid #555;
    border-radius: 0px;
    color: #555;
    font-weight: 500;
}
.login-form .form-control::placeholder{
    color: #5556;
    font-size: 14px;
}
.login-form .form-control:focus{
    border-bottom: 1px solid #555;
    box-shadow: none;
}
.login-form .col-form-label{
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: 500;
    padding-top: 10px;
}
.butn-login{
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    color: #fff;
    line-height: 1.2;
    font-weight: 500;
    border: none;
}
.comman-links{
    font-weight: 500;
    font-size: 14px;
    padding-left: 76px;
}
.comman-links  label{
    color: gray;
}

/* login css ends */

/* Register css starts */
.signup-effect{
    background-image: url('../Images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.signup-check{
    padding-left: 105px;
}
.errorhandle{
    position: relative;
}
.errorhandle small{
    position: absolute;
    bottom: -20px;
    left: 28px;
}
/* Register css ends */


    @media only screen and (max-width: 650px) {
        .comman-links{
            padding-left: 56px;
        }
    }


  @media only screen and (max-width: 600px) {
        .login-form{
            padding: 40px 80px;
        }
  }
  @media only screen and (max-width: 576px) {
    .comman-links{
        padding-left: 0px;
    }
    .butn-login{
        width: 100%;
    }
    .signup-check{
        padding-left: 22px;
    }
}
@media only screen and (max-width: 450px) {
    .login-form{
        padding: 20px 40px;
    }
  }