.main-navbar{
    padding: 15px 80px;
}
.main-navbar .navbar-collapse{
    flex-grow: unset;
}
.main-navbar a.navbar-brand img{
    height: 100px;
    width: 100px;
    background-color: wheat;
}
.carousel-main{
    height: calc(100vh - 140px);
}
.parallax-effect{
    background-image: url('../Images/parallax/testimonial.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background-color: rgba(15,155,224, 0.78);
    padding: 70px 0 40px;
}
footer{
    background-color: #2E2E2E;
    padding: 70px 0;
    color: #fff;
}
.connect{
    list-style: none;
}
.connect li{
    display: inline-block;
    margin-right: 25px;
}
.connect-icons{
    font-size: 48px;
}
.connect-icons:hover {
    color: #009EE3;
}

@media only screen and (max-width: 768px) {
    .main-navbar .navbar-collapse{
        flex-grow: 1; 
    }
    .main-navbar .navbar-collapse{
        background-color: #ffffff;
        border-radius: 0px 0px 8px 8px;
    }
    .link-main{
        color: gray!important;
        font-weight: 500;
        text-align: center;
    }
  }
  @media only screen and (max-width: 600px) {
    .main-navbar{
        padding: 15px 40px;
    }
}
@media only screen and (max-width: 440px) {
    .connect li{
       margin-right: 15px;
    }
    .connect-icons{
        font-size: 25px;
    }
}